/* Modals  */
.modal-content{
  margin-top: 90px;
}
.modal-title{
  width: fit-content;
  margin: auto;
}
.modal-header .close{
  margin: -1rem -1rem -1rem 0 !important;
}

        /* Giftit Modal  */
.GiftitModalBackground{
  background-color: #a56d4c6b;
}
    /* LonelyFans Modal  */
.LonelyFansModalBackground{
  background-color: #4b9efccb;
}

footer{
  width: 100%;
  position: absolute;
  bottom: -10;
  left: 0px;
}
.footer-div{
  position: relative;
}
#footer-img{
  width: 100%;
}
.contact-me{
  color: #fbd918;
  font-family: ;
  font-size: 73px;
  position: absolute;
  /* top: 484px; */
  bottom: 90px;
  left: 40%;
  text-shadow: 2px 2px 2px #000000;
}



@media only screen and (max-width: 870px) {
  .contact-me{
    left: 30%;
    font-size: 60px;
    bottom: 5%;
  }
@media only screen and (max-width: 501px) {
  .contact-me{
    font-size: 40px;
  }
