/* body{
  background-color: rgba(140, 213, 245, 0.412);
  font-family: 'Raleway', 'Varela', 'Poppins', 'Roboto';
  color:rgba(1, 20, 28, 0.953);
  font-size: 16px;
  line-height: 17px;
} */

html{
  margin: 0;
  background-color: #5f5f5f;
  margin-bottom: 100px;
}
body{
  margin: 0;
  background-color: #5f5f5f !important;
  margin-bottom: 100px;
}

            /* NAVBAR */
#navbar{
  height: 82px;
  background-color: #262626;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
}
#navbar img{
  height: 80px;
}
.navcodeicon{
  height: fit-content;
  margin: auto 20px;
  color: #000000;
}
.navlink{
  width: fit-content;
  height: fit-content;
  margin: auto;
  font-size: 28px;
  color: antiquewhite;
  font-family: 'Poppins', sans-serif;
}
.navlink:hover{
  color: antiquewhite;
  text-decoration: none;
  font-weight: 600;
}
#profile-link{
  margin-right: 20px;
  position: relative;
}
#profile-link2{
  margin-right: 20px;
  position: absolute;
  top: 0;
  right: -25px;
  display: none;


}

            /* Welcome section  */
#welcome-section{
  background-image: url("https://images.unsplash.com/photo-1522252234503-e356532cafd5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1925&q=80");
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  margin: 0;
}
#welcome-section h1{
  color: antiquewhite;
  font-family: 'Martian Mono', monospace;
  font-size: 48px;
  position: absolute;
  top: 300px;
  left: 40px;
}
#welcome-section h2{
  color: antiquewhite;
  font-family: 'Martian Mono', monospace;
  font-size: 48px;
  position: absolute;
  top: 300px;
  left: 40px;
}
#welcome-section h2{
  top: 400px;
}
#paul{
  color: antiquewhite;
}






              /* Project section  */
/* #projects{
  display: flex;
  justify-content: space-around;
  margin: 100px 0;
  background-color: #5f5f5f;
} */
#school-projects{
  justify-content: space-around;
  margin: 100px 0;
  background-color: #5f5f5f;
  display: none;
}
#schooldrop{
  position: relative;
  width: fit-content;
  margin: 50px auto;
}
#schooldrop:hover{
  font-size: 2.55rem;
  /* font-weight: 650; */
}
#mouse-click1{
  width: 90px;
  position: absolute;
  right: -45px;
  top: -2px;
  display: none;
}
.project-div{
  width: 400px;
  height: 300px;
  margin: auto;
}
.project-description{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
/*
.project-img{
  width: 300px;
  height: auto;
}
.project-img2{
  width: fit-content;
  margin: auto;
} */



/* Modals  */

.modal-title{
  width: fit-content;
  margin: auto;
}
.modal-header .close{
  margin: -1rem -1rem -1rem 0 !important;
}

        /* Giftit Modal  */
.GiftitModalBackground{
  background-color: #a56d4c6b;
}
    /* LonelyFans Modal  */
.LonelyFansModalBackground{
  background-color: #4b9efccb;
}






@media only screen and (max-width: 1040px) {
  #projects{
      display: block;
  }
  .project-div{
      margin: 200px auto;
  }
}
@media only screen and (max-width: 690px) {
  #welcome-section h1, h2{
      font-size: 30px;
}
@media only screen and (max-width: 455px) {
  #welcome-section h1, h2{
      font-size: 18px;
  }
  .project-div{
      width: 150px;
      height: 100px;
  }
}
