
        /* NAVBAR */
#navbar{
  height: 82px;
  background-color: #181818;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  z-index: 1100;
}
#navbar img{
  height: 80px;
}
.navcodeicon{
  height: fit-content;
  margin: auto 20px;
  color: #000000;
}
.navlink{
  width: fit-content;
  height: fit-content;
  margin: auto 0 auto 7%;
  font-size: 28px;
  color: antiquewhite;
  font-family: 'Poppins', sans-serif;
  transition-delay: 3000ms;
}
.github-nav{
  position: absolute;
  right: 10px;
  top: 2px;
}
.navlink:hover{
  color: antiquewhite;
  text-decoration: none;
  font-weight: 600;
}
#profile-link{
  margin-right: 20px;
  position: relative;
}
#profile-link2{
  margin-right: 20px;
  position: absolute;
  top: 0;
  right: -25px;
  display: none;
}
