#techstack{
  margin: 5% 0;
  /* background: url(./images/techstack/joshua-sortino-LqKhnDzSF-8-unsplash.jpg)no-repeat;
  background-size: cover; */
  /* background: rgb(116,124,173); */
/* background: radial-gradient(circle, rgba(116,124,173,1) 0%, rgba(95,95,95,1) 86%); */
  height: 50vh;
  width: 100%;
}
.container{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
}

.container img{
  position: absolute;
  width: 20%;
  height: 20%;
  object-fit: contain;
}
.stack:nth-child(2){
  top: 1%;
  left: 10%;
  object-fit: contain;
}
.stack:nth-child(3){
  position: absolute;
  top: 10%;
  left: -3%;
  object-fit: contain;
}
.stack:nth-child(4){
  position: absolute;
  top: 30%;
  left: -10%;
  object-fit: contain;
}
.stack:nth-child(5){
  position: absolute;
  top: 6%;
  left: 44%;
  width: 15%;
  height: 15%;
  object-fit: contain;
}
.stack:nth-child(6){
  position: absolute;
  top: 40%;
  left: 6%;
  object-fit: contain;
}
.stack:nth-child(7){
  position: absolute;
  top: 75%;
  left: 20%;
  width: 15%;
  height: 15%;
  object-fit: contain;
}
.stack:nth-child(8){
  position: absolute;
  top: 10%;
  left: 90%;
  object-fit: contain;
}
.stack:nth-child(9){
  position: absolute;
  top: 7%;
  left: 75%;
  object-fit: contain;
}
.stack:nth-child(10){
  position: absolute;
  top: 68%;
  left: 75%;
  object-fit: contain;
}
.stack:nth-child(11){
  position: absolute;
  top: 76%;
  left: 60%;
  object-fit: contain;
}
.stack:nth-child(12){
  position: absolute;
  top: 20%;
  left: 60%;
  object-fit: contain;
}
.stack:nth-child(13){
  position: absolute;
  top: 40%;
  left: 85%;
  object-fit: contain;
}
.stack:nth-child(14){
  position: absolute;
  top: 76%;
  left: -6%;
  object-fit: contain;
}
.stack:nth-child(15){
  position: absolute;
  top: 60%;
  left: 43%;
  object-fit: contain;
}
.stack:nth-child(16){
  position: absolute;
  top: 20%;
  left: 23%;
  object-fit: contain;
}
.stack:nth-child(17){
  position: absolute;
  top: 70%;
  left: 23%;
  object-fit: contain;
}


.container h2{
  z-index: 1;
  position: relative;
  color: #fff;

  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 32px;
  line-height: 60px;
}

.container h2 span{
  font-size: 48px;
  font-weight: 500;
  letter-spacing: 10px;
}

@media (max-width:800px){
  .container{
    width: 90%;
  }
  .container h2{
    font-size: 20px;
    letter-spacing: 19px;
    line-height: 35px;
  }
}
@media (min-width:800px){
  .container{
    width: 90%;
  }

  .container h2{
    font-size: 40px;
    letter-spacing: 19px;
    line-height: 35px;
  }
}
